.CardDetail{
    margin: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    justify-content: space-evenly;
}
.imgProductDetail{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    margin-top: 5px;
}
.detalles{
    width: 250px;
    font-size: 18px;
    padding-top: 25px;
    padding: 15px;
    margin: 5px;
    background-color: rgb(188, 188, 188);
    border-radius: 5px;
}

@media (max-width: 480px) {
    .CardDetail{
        display: block;
    }
    .imgProductDetail{
        width: 200px;
        height: 230px;
    }
    .detalles{
        padding: 15px;
        margin: auto;
        margin-bottom: 5px;
    }
    .detalles h3{
        margin: 0px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .CardDetail{
        display: block;
    }
    .imgProductDetail{
        width: 250px;
        height: 230px;
    }
    .detalles{
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
    }
    .detalles h3{
        margin: 0px;
    }
}      
@media (min-width: 769px) and (max-width: 1024px) {
    .CardDetail{
        display: block;
    }
    .imgProductDetail{
        width: 350px;
        height: 250px;
    }
    .detalles{
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        width: 350px;
    }
    .detalles h3{
        margin: 0px;
    }
}