.form{
    border-style: solid;
    width: 400px;
    margin: auto;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.744);
    padding: 10px;
    border-radius: 15px;
}
.formInput{
    display: flex;
    padding: 5px;
    justify-content: center;
}
input{
    margin: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border-style: none;
    color: black;
}
#confirmacion{
    position: absolute;
    right: 0;
    border-style: solid;
    background-color: rgb(136, 244, 165);
    color: black;
    max-height: 100px;
    max-width: 200px;
}


@media (max-width: 480px) {
    .form{
        width: 300px;
        padding: 15px;
    }
}
    