.form{
    border-style: solid;
    width: 400px;
    margin: auto;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(195, 198, 201);
    padding: 10px;
    border-radius: 15px;
}
.formInput{
    display: flex;
    padding: 5px;
    justify-content: center;
}
input{
    margin: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border-style: none;
    color: black;
}
#confirmacion{
    position: absolute;
    right: 0;
    border-style: solid;
    background-color: rgb(136, 244, 165);
    border-radius: 10px;
    color: black;
    max-height: 100px;
    max-width: 200px;
}