.paddig5{
    padding-right: 5px;
}
.cartButton{
    width: 50px;
    height: 40px;
    margin-top: 15px;
    margin-right: 50px;
    padding-top: 12px;
    border-radius: 10px;
    background-color: rgb(31, 170, 71);
    display: flex;
    justify-content: center;
    border-style: none;
}
.cartButton:hover{
    cursor: pointer;
    opacity: 0.7;
}
