.Home{
    width: 100%;
    height: 90vh;
    display: flex;
}
.linkProductos{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-style: none;
    padding: 10px;
    margin: 15px;
    background-color:white;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.linkProductos:hover{
    opacity: 0.7;
}
h1{
    width: 700px;
    padding: 15px;
}
.color{
    background-color: rgba(0, 0, 0, 0.653);
    width: 700px;
    padding: 15px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.textColor{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.653);
    font-size: 24px;
}


/* Para dispositivos móviles pequeños */
@media (max-width: 480px) {
    .Home{
      height: 80vh;
    }
    h1{
      width: 100%;
      padding: 0px;
    }
    .color{
      width: 80%;
    }
    .textColor{
      font-size: 24px;
    }  
}
/* Estilos para dispositivos móviles medianos */
@media (min-width: 481px) and (max-width: 768px) {
  .Home{
    height: 85vh;
  }
  h1{
    width: 100%;
    padding: 0px;
  }
  .color{
    width: 85%;
  }
  .textColor{
    font-size: 24px;
  } 
}   
