.contact-form {
    width: 100%;
    height: 80vh;
    display: flex;
}
form{
    margin: auto;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.744);
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: start;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #0077ff;
    outline: none;
}
button[type="submit"] {
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button[type="submit"]:hover {
    background-color: #005ae6;
}