nav{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 22px;
    color: white;
    width: 200px;
    text-decoration: underline;
    margin: 0px
}
.NavLink{
    text-decoration: none;
}
.navVerde{
    border-radius: 15px;
    border-style: solid;
    background-color: rgb(244, 244, 244);
    text-decoration: none;
    color: black;
    padding: 4px 24px 4px 24px;
    min-width: 120px;
    margin: 5px;
}
.navRojo{
    border-radius: 15px;
    border-style: solid;
    background-color: rgb(103, 101, 101);
    text-decoration: none;
    color: black;
    padding: 4px 24px 4px 24px;
    min-width: 120px;
    margin: 5px;
}
.navRojoDos{
    border-radius: 15px;
    padding: 20px;
    border-style: solid;
    background-color: rgb(103, 101, 101);
    text-decoration: none;
    color: black;
    padding: 5px;
}
.navVerdeDos{
    border-radius: 15px;
    padding: 20px;
    border-style: solid;
    background-color: rgb(244, 244, 244);
    text-decoration: none;
    color: black;
    padding: 5px;
}
.componentes-NavBar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}
li a{
    display: block;
}
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    padding: 10px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.componentes-NavBar li:hover .menu-vertical {
    display: block;
}
.menu-vertical a:hover {
    background-color: rgb(23, 23, 118) ;
    color: white;
}
.menu-vertical li {
    color: white;
}
.elements-NavBar {
    color: white;
    text-decoration: none;
}
