footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: rgb(255, 255, 255);
}
.footerContainer{
    display: flex;
    justify-content: space-evenly;
}
footer svg{
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 25px;
    height: 35px;
}
footer svg:hover{
    transform: scale(1.2);
    cursor: pointer;
}
footer p{
    margin: 0px;
    padding: 5px;
}